<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>供应商管理</title>
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/supplierM.css">
	<link rel="stylesheet" href="../assets/jquery-confirm/jquery-confirm.css">
	<script src="../assets/angular/angular.min.js"></script>
	<script src="../assets/jquery/jquery-2.1.1.min.js"></script>
	<script src="jquery-confirm.js"></script>
	<script src="../assets/angular/angular.global.js"></script>
	<script src="../js/baseUrl.js"></script>
	<link rel="stylesheet" href="../css/zh-mu.css">
	<script src="../js/common.js"></script>
</head>
<body ng-app="zhApp" ng-controller="zhController" ng-cloak>
	<navid api="student/FetchAllStudent"></navid>
	<div id="mask" ng-show="showMask"></div>
	<div id="main">
		<form id="createForm" ng-show="showAdd">
			<div class="form-group">
				<label for="supplierName">*供应商名称</label>
				<input type="text" class="form-control" id="supplierName" placeholder="供应商名称" ng-model="supplierName">
			</div>
			<div class="form-group">
				<label for="contactName">*联系人</label>
				<input type="text" class="form-control" id="contactName" placeholder="联系人名称" ng-model="contactName">
			</div>
			<div class="form-group">
				<label for="gender">*性别</label>
				<input type="text"class="form-control" id="gender" placeholder="性别" ng-model="gender">
			</div>
			<div class="form-group">
				<label for="phone">*电话</label>
				<input type="text" class="form-control" id="phone" placeholder="手机号码" ng-model="phone">
			</div>
			<div class="form-group">
				<label for="mail">*邮箱</label>
				<input type="text" class="form-control" id="mail" placeholder="电子邮箱" ng-model="mail">
			</div>
			<div class="form-group">
				<label for="address">*地址</label>
				<input type="text" class="form-control" id="address" placeholder="公司地址" ng-model="address">
			</div>
			<nav id="zhnav">
				<button class="btn btn-info" ng-click="save()">保存</button>
				<button class="btn btn-danger" ng-click="back()">返回</button>
			</nav>
		</form>
		<form id="modifyForm" ng-show="showModify">
			<div class="form-group">
				<label for="supplierNameM">*供应商名称</label>
				<input type="text" class="form-control" id="supplierNameM" placeholder="供应商名称" ng-model="singleData[0].supplierName">
			</div>
			<div class="form-group">
				<label for="contactNameM">*联系人</label>
				<input type="text" class="form-control" id="contactNameM" placeholder="联系人名称" ng-model="singleData[0].contactName" >
			</div>
			<div class="form-group">
				<label for="genderM">*性别</label>
				<input type="text"class="form-control" id="genderM" placeholder="性别" ng-model="singleData[0].gender" >
			</div>
			<div class="form-group">
				<label for="phoneM">*电话</label>
				<input type="text" class="form-control" id="phoneM" placeholder="手机号码" ng-model="singleData[0].phone">
			</div>
			<div class="form-group">
				<label for="mailM">*邮箱</label>
				<input type="text" class="form-control" id="mailM" placeholder="电子邮箱" ng-model="singleData[0].mail" >
			</div>
			<div class="form-group">
				<label for="addressM">*地址</label>
				<input type="text" class="form-control" id="addressM" placeholder="公司地址" ng-model="singleData[0].address">
			</div>
			<nav id="zhnav">
				<button class="btn btn-info" ng-click="modify()">修改</button>
				<button class="btn btn-danger" ng-click="backM()">返回</button>
			</nav>
		</form>
		<div id="main-top">
			<button class="btn btn-info" ng-click="flash()">刷新</button>
			<button class="btn btn-info" ng-click="show()">添加</button>
			<button class="btn btn-info" ng-click="showM()">编辑</button>
			<button class="btn btn-info" ng-click="del()">删除</button>
		</div>
		<div id="main-list">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>序号</th>
						<th>供应商名称</th>
						<th>联系人</th>
						<th>性别</th>
						<th>电话</th>
						<th>邮箱</th>
						<th>地址</th>
						<th>创建时间</th>
					</tr>
				</thead>
				<tbody ng-click="select($event)" id="table1">
					<tr ng-repeat="item in setdata" id="{{item.indexid}}" class="sel">
						<td ng-bind="$index+1"></td>
						<td ng-bind="item.supplierName"></td>
						<td ng-bind="item.contactName"></td>
						<td ng-bind="item.gender"></td>
						<td ng-bind="item.phone"></td>
						<td ng-bind="item.mail"></td>
						<td ng-bind="item.address"></td>
						<td ng-bind="item.date"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> 
	<script>
		var zhApp=angular.module('zhApp',['globalapp','commonApp']);
		zhApp.controller('zhController', ['$scope','$http', function($scope,$http){
			$http.get(erp.baseUrl+'zhgetdata').success(function(response){
				$scope.setdata=response
			})
			//刷新
			$scope.flash=function(){
				$http.get(erp.baseUrl+'zhgetdata').success(function(response){
					$scope.setdata=response
					$.alert("刷新成功！")
				})
			}
			//遮罩层
			//弹窗
			$scope.showMask=false;
			$scope.showAdd=false;
			$scope.showModify=false;
	        //添加
			$scope.save=function(){
				var obj={}
				var d = new Date()
				var now = `${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}`
				console.log(now)
				obj.date=now;
				obj.supplierName=$scope.supplierName;
				obj.contactName=$scope.contactName;
				obj.gender=$scope.gender;
				obj.phone=$scope.phone;
				obj.mail=$scope.mail;
				obj.address=$scope.address;
				if(obj.supplierName && obj.contactName && obj.gender && obj.phone && obj.mail && obj.address){
					$http({method:'post',url:erp.baseUrl+'zhsavedata',data:obj}).success(function(response){
						$scope.supplierName='';
						$scope.contactName='';
						$scope.gender='';
						$scope.phone='';
						$scope.mail='';
						$scope.address='';
						$.alert('添加成功！')
						$http.get(erp.baseUrl+'zhgetdata').success(function(response){
							$scope.setdata=response
						})
					})
				}else{
					$.alert('带*为必填项，请把信息补充完整！')
				}
			}
			$scope.back=function(){
				$scope.showAdd=!$scope.showAdd;
				$scope.showMask=!$scope.showMask;
			}
			$scope.show=function(){
				$scope.showAdd=!$scope.showAdd;
				$scope.showMask=!$scope.showMask;
			}
			//编辑
			$scope.modify=function(){
				var obj=$scope.singleData[0]
				console.log(obj)
				if(obj.supplierName && obj.contactName && obj.gender && obj.phone && obj.mail && obj.address){
					$http({method:'post',url:erp.baseUrl+'zhmodifydata',data:obj}).success(function(response){
						$.alert('修改成功');
						$scope.backM();
					})
				}else{
					$.alert('带*为必填项，请把信息补充完整！')
				}
			}
			$scope.showM=function(){
				if(document.getElementsByClassName('select')[0]){
					$scope.showModify=!$scope.showModify;
					$scope.showMask=!$scope.showMask;
					var id=document.getElementsByClassName('select')[0].id
					$http.get(erp.baseUrl+'zhgetSingleData',{params: { 'indexid':id }}).success(function(response){
						$scope.singleData=response;
					})
				}else{
					$.alert('请选择要编辑的供应商！')
				}
			}
			$scope.backM=function(){
				$scope.showModify=!$scope.showModify;
				$scope.showMask=!$scope.showMask;
			}
			//删除
			$scope.del=function(){
				if(document.getElementsByClassName('select')[0]){
					if(confirm('是否要删除该供应商?')){
						var id=document.getElementsByClassName('select')[0].id
						$http.get(erp.baseUrl+'zhdelData',{params: { 'indexid':id }}).success(function(response){
							$.alert('删除成功！')
							$http.get(erp.baseUrl+'zhgetdata').success(function(response){
								$scope.setdata=response
							})
						})
					}
				}else{
					$.alert('请选择要删除的供应商！')
				}
			}
			//选择行
			$scope.select=function(event){
				for(var i=0;i<event.target.parentElement.parentElement.children.length;i++){
					event.target.parentElement.parentElement.children[i].classList.remove('select')
				}
				event.target.parentElement.classList.add('select')
			}
		}])
	</script>
</body>
</html>